<div class="voucher-alert">
  <span class="close-me"></span>
  <!-- <p>Voucher <span id="voucher-code">FIRSTSUB15</span> has been applied.</p> -->
  <p>50% OFF VOUCHER<span id="voucher-code" style="margin-left:3px"></span> WILL BE APPLIED<p> 
</div>