<span class="wine-stain top"></span>
<span class="wine-stain left"></span>

<div class="account-alert">
  <h3></h3>
</div>

<div class="account-main-wrap">
  <h1 class="page-title">Account overview</h1>

  {% include 'account-nav' %}

  <div class="account-overview clearfix subscription-manager"> 

    <h2>Skip subscription</h2>
    <div class="half-wrap">
      <div class="subs-img-wrap">
        <img data-subscription-product-image>
      </div>
    </div>
    <div class="half-wrap last">
      <div class="subs-info-wrap">
        <h3 data-subscription-product-title></h3>
        <h5>Select specific dates</h5>
        <p>
          Choose to skip the dates you are away. 
          <span>Payment will not be taken for the dates you skip.</span>
        </p>
        <div class="dates-wrap" data-subscription-pauses>
        </div>
      </div>
    </div>
  </div>
  
  <input type="hidden" name="subscription">
</div>